<app-header nombre="New Form - Services"></app-header>


<ion-content>
    <ion-row>
      <ion-col size="12">
        <ion-card>
          <img src="../assets/iconos-areas/Banner-{{ form.area }}.jpg" />
        </ion-card>
      </ion-col>
    </ion-row>
  
    <ion-row>
      <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="warning">
              Required clothing and PPE
            </ion-card-title>
          </ion-card-header>
          <ion-img [src]="imgAvatar"> </ion-img>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-lg="6" size-md="6" size-sm="12" size-xs="12">
        <ion-card>
          <ion-card-header>
            <ion-card-title color="danger"> Threats to the Area </ion-card-title>
            <ion-card-subtitle> Be careful with these threats </ion-card-subtitle>
          </ion-card-header>
          <ion-row>
            <ion-col size="3">
              <ion-img src="../assets/amenazas-area/Lighting.jpg"></ion-img>
            </ion-col>
            <ion-col size="3">
              <ion-img
                src="../assets/amenazas-area/chemical substances and mixtures.jpg"
              ></ion-img>
            </ion-col>
            <ion-col size="3">
              <ion-img
                src="../assets/amenazas-area/falling objects.jpg"
              >
              </ion-img>
            </ion-col>
            <ion-col size="3">
              <ion-img src="../assets/amenazas-area/hit by moving items.jpg">
              </ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-img src="../assets/amenazas-area/moving means of transport.jpg"> </ion-img>
            </ion-col>
            <ion-col size="3">
              <ion-img src="../assets/amenazas-area/electric shock.jpg">
              </ion-img>
            </ion-col>
            <ion-col size="3">
              <ion-img src="../assets/amenazas-area/falling-or-slipping-on-a-smooth-or-uneven-surface.jpg"> </ion-img>
            </ion-col>
            <ion-col size="3">
              <ion-img src="../assets/amenazas-area/load on the musculoskeletal system.jpg"> </ion-img>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="3">
              <ion-img
                src="../assets/amenazas-area/position at work.jpg"
              >
              </ion-img>
            </ion-col>
            <ion-col size="3">
              <!-- <ion-img
                src="../assets/amenazas-area/load on the musculoskeletal system.jpg"
              >
              </ion-img> -->
            </ion-col>
            <ion-col size="3">
              <!-- <ion-img src="../assets/amenazas-area/position at work.jpg">
              </ion-img> -->
            </ion-col>
          </ion-row>
        </ion-card>
      </ion-col>
    </ion-row>
  
      <ion-slides #slideServices [options]="{autoHeight: true}">
        <ion-slide text-center>
          <ion-card text-center >
              <ion-card-header >
                  <ion-card-subtitle color="iturri"> <h3> Initial Observation <small> (1 of 3)</small> </h3> </ion-card-subtitle>
                  <ion-card-title color="primary"> <h2> <b> What you see? </b> </h2>  </ion-card-title>
                </ion-card-header>
    
                <ion-card-content>
                  
                  <ion-textarea [(ngModel)]="iObservation[0].queVes"
                                placeholder="Enter any comments here..."
                                [disabled]="iObservComponents[0].queVes"
                  ></ion-textarea>
          
                  <ion-select placeholder="Select One" 
                              interface="action-sheet" 
                              mode="ios"
                              (ionChange)="checkInitialObserv($event.detail.value, 1)"
                              class="item-select-pregunta "
                              [disabled]="iObservComponents[0].select">
                    <ion-select-option *ngFor="let risk of risks"  color="success" [value]="risk.nombre" [disabled]="iObservComponents[0].select">{{ risk.nombre }}</ion-select-option>
                  </ion-select>
    
                  <ion-button color="iturri" slot="end" shape="round" class="m-top-17" (click)="cameraIObserv(1)" [disabled]="iObservComponents[0].camera"><ion-icon name="camera" slot="icon-only"></ion-icon>Take Photo</ion-button> 
          
                </ion-card-content>
    
    
                <ion-card-header >
                  <ion-card-subtitle color="iturri"> <h3> Initial Observation <small> (2 of 3)</small> </h3> </ion-card-subtitle>
                  <ion-card-title color="primary"> <h2> <b> What you see? </b> </h2>  </ion-card-title>
                </ion-card-header>
        
                <ion-card-content>
                  
                  <ion-textarea [(ngModel)]="iObservation[1].queVes"
                            placeholder="Enter any comments here..."
                            [disabled]="iObservComponents[1].queVes"
                  ></ion-textarea>
          
                  <ion-select placeholder="Select One" 
                              interface="action-sheet" 
                              mode="ios"
                              (ionChange)="checkInitialObserv($event.detail.value, 2)"
                              class="item-select-pregunta"
                              [disabled]="iObservComponents[1].select">
                    <ion-select-option *ngFor="let risk of risks"  color="success" [value]="risk.nombre" >{{ risk.nombre }}</ion-select-option>
                  </ion-select>
    
                  <ion-button color="iturri" slot="end"  shape="round" class="m-top-17" (click)="cameraIObserv(2)" [disabled]="iObservComponents[1].camera"><ion-icon name="camera" slot="icon-only"></ion-icon>Take Photo</ion-button> 
          
                </ion-card-content>
    
    
                <ion-card-header >
                  <ion-card-subtitle color="iturri"> <h3> Initial Observation <small> (3 of 3)</small> </h3> </ion-card-subtitle>
                  <ion-card-title color="primary"> <h2> <b> What you see? </b> </h2>  </ion-card-title>
                </ion-card-header>
        
                <ion-card-content>
                  
                  <ion-textarea [(ngModel)]="iObservation[2].queVes"
                            placeholder="Enter any comments here..."
                            [disabled]="iObservComponents[2].queVes"
                  ></ion-textarea>
          
                  <ion-select placeholder="Select One" 
                              interface="action-sheet" 
                              mode="ios"
                              (ionChange)="checkInitialObserv($event.detail.value, 3)"
                              class="item-select-pregunta"
                              [disabled]="iObservComponents[2].select">
                    <ion-select-option *ngFor="let risk of risks"  color="success" [value]="risk.nombre" >{{ risk.nombre }}</ion-select-option>
                  </ion-select>
    
                  <ion-button color="iturri" slot="end"  shape="round" class="m-top-17" (click)="cameraIObserv(3)" [disabled]="iObservComponents[2].camera"><ion-icon name="camera" slot="icon-only"></ion-icon>Take Photo</ion-button> 
          
                </ion-card-content>
    
              </ion-card>            
                    
                  </ion-slide>
                  
                  <ion-slide>
                
                <ion-card>
    
                  <ion-list >
                    <ion-item *ngFor="let pregunta of preguntas; let i = index" mode="ios" lines="none">
                     
                      <ion-list>
                                         
                          <ion-item lines="none">
                              <ion-label text-wrap color="primary" class="w-100"><b>  {{ pregunta.texto }}? </b> <br>
                                <ion-text color="medium"> <h3> {{ pregunta.traduccion }} </h3> </ion-text>  
                              </ion-label>
                          </ion-item>
                          <ion-item lines="none">
                              <ion-label color="iturri" position="floating" mode="ios"> <b>Comments</b> </ion-label>
                              <ion-input type="text" mode="ios" [(ngModel)]="pregunta.comentario" [disabled]="pregunta.radioDisabled" size="50" position="floating" placeholder="Enter any comments here..."></ion-input>
                          </ion-item>
                       
                      </ion-list>
                      <ion-list lines="none" slot="end" > 
                        <ion-radio-group name="resp" >
                          <ion-item lines="none">
                            <ion-label>Yes </ion-label>
                            <ion-radio slot="start" value="yes" mode="ios" [color]="pregunta.color" [disabled]="pregunta.radioDisabled" (ionSelect)="radioSelect(pregunta, $event.detail.value)"></ion-radio>
                          </ion-item>
                          <ion-item lines="none">
                            <ion-label >No</ion-label>
                            <ion-radio slot="start" value="no" mode="ios" [color]="pregunta.color" [disabled]="pregunta.radioDisabled" (ionSelect)="radioSelect(pregunta, $event.detail.value)"></ion-radio>
                          </ion-item>
                        </ion-radio-group>
                      </ion-list>
    
                      <ion-button color="iturri" slot="end" shape="round" (click)="camara(pregunta, i)" [disabled]="pregunta.camaraDisabled" size="large" class="m-top-17"><ion-icon name="camera" slot="icon-only"></ion-icon></ion-button> 
                    </ion-item>
                  </ion-list>
    
                </ion-card>
              
              </ion-slide>
            </ion-slides>
    
  </ion-content>
