<app-header nombre="Info"></app-header>>


<ion-content fullscreen>

    <ion-list>
        <ion-item *ngFor="let i of info" >
          <ion-thumbnail (click)="verImg(i.img)" slot="start">
            <img [src]="i.img">
          </ion-thumbnail>
          <ion-label class="ion-text-wrap">
              <ion-text color="primary">
                <h1>{{ i.nombre }}</h1>
              </ion-text>
              <p>{{i.traduccion }}</p>
              <ion-text color="iturri">
                <p>{{ i.explicacion }}</p>
              </ion-text>
            </ion-label>

        </ion-item>
        
      </ion-list>

</ion-content>
