
<app-header nombre="New Form"></app-header>

<ion-content padding>
  <ion-row>
    <ion-col size="12" size-lg="3" size-md="6" size-sm="12" size-xs="12" >
      <!-- <ion-img src="../assets/iconos-areas/production.png" ></ion-img> -->
      <ion-card>
        <img src="../assets/iconos-areas/production.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Form type</ion-card-subtitle>
          <ion-card-title>Production</ion-card-title>
        </ion-card-header>
        <ion-button expand="full" shape="round" routerLink="/production" color="iturri">
          <ion-icon slot="start" name="settings"></ion-icon>
          Production
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="3" size-md="6" size-sm="12" size-xs="12" >
      <!--  <ion-img src="../assets/iconos-areas/magazine.png" ></ion-img> -->
      <ion-card>
        <img src="../assets/iconos-areas/magazine.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Form type</ion-card-subtitle>
          <ion-card-title>Magazine</ion-card-title>
        </ion-card-header>
        <ion-button expand="full" shape="round" routerLink="/magazine" color="iturri">
          <ion-icon slot="start" name="book"></ion-icon>
          Magazine
        </ion-button>
      </ion-card>
    </ion-col>

    <ion-col size="12" size-lg="3" size-md="6" size-sm="12" size-xs="12" >
      <!--  <ion-img src="../assets/iconos-areas/services.jpg" ></ion-img> -->
      <ion-card>
        <img src="../assets/iconos-areas/services.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Form type</ion-card-subtitle>
          <ion-card-title>Services</ion-card-title>
        </ion-card-header>
        <ion-button expand="full" shape="round" routerLink="/services" color="iturri">
          <ion-icon slot="start" name="contacts"></ion-icon>
          Services
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col size="12" size-lg="3" size-md="6" size-sm="12" size-xs="12" >
      <!-- <ion-img src="../assets/iconos-areas/offices.png" ></ion-img> -->
      <ion-card>
        <img src="../assets/iconos-areas/offices.jpg" />
        <ion-card-header>
          <ion-card-subtitle>Form type</ion-card-subtitle>
          <ion-card-title>Offices</ion-card-title>
        </ion-card-header>
        <ion-button expand="full" shape="round" routerLink="/offices" color="iturri">
          <ion-icon slot="start" name="business"></ion-icon>
          Offices
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-row>
</ion-content>
